<!DOCTYPE html>
<html>
<head>
    <title>Contoso Flowers - @ViewBag.Title</title>
    <style type="text/css">
        body {
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
            padding: 50px;
        }

        a { color: #00B7FF; }

        fieldset { border: 1px solid #ccc; }

        fieldset label {
            clear: both;
            display: block;
            width: 400px;
        }

        fieldset label input { float: right; }
    </style>
</head>
<body>
@RenderBody()
</body>
</html>